<h1>Thêm Giảng Viên</h1>

<form action="/add" method="post">
    Tên: <input type="text" name="name"><br>
    Mã GV : <input type="number" name="maGV"><br>
    <button type="submit">Thêm giảng viên</button>
</form>